.title {
  text-align: center;
  margin-top: 110px;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--text);
}

.grid {
  display: grid;
  gap: 2rem;

  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  background: linear-gradient(
    136deg,
    hsl(104, 28%, 35%) 0%,
    hsl(58, 28%, 35%) 100%
  );
  padding: 1rem;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  color: var(--text);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.4s ease;
  }

  &:hover img {
    transform: scale(1.07);
  }

  h3 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
  }

  .price {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .info {
    margin-top: auto;
  }

  .cartButton {
    position: absolute;
    bottom: 0;
    right: 0;
    background: red;
    border: none;
    border-top-left-radius: 12px;
    width: 60px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    z-index: 2;

    img {
      width: 38px;
      height: 38px;
      filter: brightness(0) invert(1);
      transform: scaleX(-1);
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 12px rgba(255, 255, 255, 0.3);
    }

    &:active {
      transform: scale(0.9);
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    }
  }
}
